* {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    min-height: 100dvh;
    flex-direction: column;
}

header, main, footer{
    width: 100%;
    padding: 20px;
}

nav ul{
    display: flex;
    align-item: center;
    gap: 18px;
    list-style: none;
}

main {
    display: grid;
    place-items: center;
}

footer {
    margin-top: auto;
    text-align: center;
}

.errors{
    color: crimson;
}